@inherits VLabelBase

<div class="tazorLabel">
    @ChildContent
</div>


<style>
    .tazorLabel {
        text-align:@TextAlign;
        color:@Color;
        font-size:@FontSize;
        font-weight:@FontWeight;
        font-family:@FontFamily;
        line-height:@LineHeight;
        background-color: @BackgroundColor;
    }
</style>


